body{
  margin: 0;
  padding: 0;
  background: #222;
}

img.logo{
  position: absolute;
  top: 30px;
  left: calc(50% - 440px);
  width: 880px;
  height: 268px;
  opacity:0.5;
}

.wrapper{
  position: absolute;
  top: 50px;
  left: calc(50% - 400px);
  width: 800px;
  height: 200px;
}

.wrapper ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper ul li{
  float: left;
  width: 40px;
  height: 40px;
  border: 1px none #333;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.wrapper ul li:nth-child(14){
  width: 90px;
}

.wrapper ul li:nth-child(15){
  width: 70px;
}

.wrapper ul li:nth-child(28){
  width: 60px;
  border-bottom-right-radius: 0px;
}

.wrapper ul li:nth-child(28) .text{
  position: absolute;
  top: 27px;
  right: -1px;
  z-index: 5;
  background: #222;
  border-left: 1px none #333;
  border-right: 1px none #333;
  width: 40px;
  height: 40px;
}

.wrapper ul li:nth-child(29){
  width: 90px;
}

.wrapper ul li:nth-child(43){
  width: 65px;
}

.wrapper ul li:nth-child(55){
  width: 115px;
}

.wrapper ul li:nth-child(56){
  opacity: 0.5;
}

.wrapper ul li:nth-child(43) .text{
  margin-top: 22px !important;
  margin-left: -10px;
}

.wrapper ul li:nth-child(55) .text{
  margin-top: 22px !important;
  margin-left: 85px;
}

.wrapper ul li:nth-child(59){
  width: 55px;
}

.wrapper ul li:nth-child(60){
  width: 260px;
}

.wrapper ul li:nth-child(61){
  width: 55px;
}

.wrapper ul li:nth-child(63){
  height: 19px;
  margin-top: 30px;
}

.wrapper ul li:nth-child(64){
  height: 19px;
}

.wrapper ul li:nth-child(65){
  height: 19px;
  margin-top: 30px;
  margin-left: -42px;
  border-top: 0px none #fff;
}

.wrapper ul li:nth-child(66){
  height: 19px;
  margin-top: 30px;
}

.wrapper ul li .text{
  color: #444;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  text-align: center;
}

.wrapper ul li:nth-child(14) .text{
  text-align: right;
  margin-left: 40px;
  font-weight: 100;
  margin-top: 20px !important;
  font-size: 23px;
}

.wrapper ul li:nth-child(15) .text{
  text-align: left;
  margin-left: 4px;
  font-weight: 0;
  margin-top: 20px !important;
  font-size: 23px;
}

.wrapper ul li:nth-child(29) .text.active:before{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background: #98c225 !important;
  box-shadow: 0 0 3px #98c225;
  border-radius: 360px;
}

.wrapper ul li:nth-child(29) .text:before{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 360px;
}

.wrapper ul li:nth-child(29) .text{
  margin-left: -10px;
  padding-top: 5px;
}

.wrapper ul li.activeKey .finger{
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -5px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 360px;
  background: rgba(28, 171, 233, 0.5);
  opacity: 0;
}

.login-form{
  position: absolute;
  top: 330px;
  left: calc(50% - 350px);
  width: 300px;
  height: 200px;
}

.reg-form{
  position: absolute;
  top: 330px;
  left: calc(50% + 50px);
  width: 300px;
  height: 200px;
}

input{
  border: 0px solid #fff;
  background: transparent;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 100;
  width: 280px;
  height: 40px;
  position: relative;
  /*top: 330px;*/
  color: #ccc;
  left: 40px;
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
}

h1{
  color: #999;
  position: relative;
  left: 40px;
  font-family: Helvetica;
}

button{
  padding: 5px 10px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  color: #999;
  margin-top: 20px;
  position: relative;
  left: 250px;
  cursor: pointer;
}

button:hover{
  border: 1px solid #86939e;
  color: #86939e;
}

body ::-webkit-input-placeholder{
  color: #555;
}

body input:focus{
  outline: none;
  border-bottom: 1px solid rgba(28, 171, 233, 0.5);
}

.alert{
  padding: 15px 15px;
  background: transparent;
  border: 1px solid transparent;
  position: relative;
  width: 250px;
  left: 40px;
  margin-top: 20px;
  border-radius: 4px;
  font-family: Helvetica;
  cursor: pointer;
  text-align: center;
  display: none;
}
.alert-success{
  border-color: #3C763D;
  color: #3C763D;
}

.alert-warning{
  border-color: #A94442;
  color: #A94442;
}