doctype html
{% load staticfiles %}

html(lang='en')
  head
    title Haloes
    block head
      link(rel='stylesheet', href='{% static "assets/bootflat/css/site.min.css" %}')
      link(rel='stylesheet', href='{% static "assets/bootflat/fonts/fonts.googleapis.com.css" %}')
      link(rel='stylesheet', href='{% static "assets/font-awesome/css/font-awesome.min.css" %}')

  body
    {% csrf_token %}
    nav.navbar.navbar-default.navbar-custom(role='navigation', style='background-color: #434A54;')
      .container
        .navbar-header
          a.navbar-brand(href='#'): img(src='{% static "img/logo-text.png" %}', height='40')
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li: a.nav-link(href='{% url "challenge:index" %}') Challenge
            li: a.nav-link(href='{% url "contest:index" %}') Contest
            li: a.nav-link(href='{% url "writeup:index" %}') WriteUp
            li: a.nav-link(href='{% url "team:index" %}') Group
            li: a.nav-link(href='{% url "ranking" %}') Ranking

          form.navbar-form.navbar-left(role='search' style='margin-left: 20px;')
            .form-search.search-only
              i.search-icon.fa.fa-search
              input.form-control.search-query(type='text')

          ul.nav.navbar-nav.navbar-right
            if self
              li: a.nav-link(href='{% url "person:index" %}', style='font-size: 16px;')
                b= self
                // span.badge.badge-danger(style='margin-left: 6px; vertical-align: top;') 1
              li: a.nav-link(href='#signOut') Sign out
            elif username
              li: a.nav-link(href='{% url "person:index" %}', style='font-size: 16px;')
                b= username
                // span.badge.badge-danger(style='margin-left: 6px; vertical-align: top;') 1
              li: a.nav-link(href='#signOut') Sign out
            else
              li: a.nav-link(href='#signUp') Sign up
              li: a.nav-link(href='#signIn') Sign in

    .container(style='padding-top: 80px;')
      block container

    .footer(style='padding: 15px 0px; background-color: #DEDEDE; font-size: 10px;')
      .container
        .footer-copyright.pull-left
          | Powered by #[b DAWN] Team @ Wuhan University.
        .footer-copyright.pull-right
          | #[a(href='mailto:wangdanlei@whu.edu.cn', target='_blank') Bug Report] and #[a(href='mailto:wangdanlei@whu.edu.cn', target='_blank') Collaboration] are Welcomed.

    block script
      script(src='{% static "assets/bootflat/js/jquery-1.10.1.min.js" %}')
      script(src='{% static "assets/bootflat/js/site.min.js" %}')
      script(src='{% static "assets/plugins/jquery.cookie.min.js" %}')
      script(src='{% static "build/common.js" %}')
