doctype html
{% load staticfiles %}

html(lang='en')
  head
    title Haloes
    link(rel='stylesheet', href='{% static "assets/keyboard/keyboard.css" %}')

  body
    img.logo(src='{% static "img/logo-text.png" %}')
    .wrapper: ul
      for wtf in wtfs
        li
          .text
          .finger
    .login-form
      {% csrf_token %}
      h1 Sign In
      input#username(placeholder='Email / Username')
      input#password(placeholder='Password', type='password')
      button#signIn(data-salt=salt) Sign in
      #signInDone.alert.alert-success
        strong Welcome!
        | &nbsp;&nbsp;(o^∇^o)ﾉ
      #signInFail.alert.alert-warning
        strong Invalid Username or Password
        br
        | &nbsp;&nbsp;ㄟ(▔,▔)ㄏ
      #alertError.alert.alert-warning
        strong Some Error Occured
        | &nbsp;&nbsp; (╬￣皿￣)
    .reg-form
      h1 Sign Up
      input#remail(placeholder='Email')
      input#rusername(placeholder='Username')
      input#rpassword(placeholder='Password', type='password')
      button#signUp Sign up
      .alert.alert-success
        strong Welcome!
        | &nbsp;&nbsp;╰(*°▽°*)╯
      .alert.alert-warning
        strong Occupied Username or Email
        br
        | &nbsp;&nbsp;（￣工￣lll）

    script(src='{% static "assets/bootflat/js/jquery-1.10.1.min.js" %}')
    script(src='{% static "assets/bootflat/js/jquery.cookie.min.js" %}')
    script(src='{% static "assets/bootflat/js/jquery.sha256.js" %}')
    script(src='{% static "assets/keyboard/keyboard.js" %}')
    script(src='{% static "build/login.js" %}')