extends frame
{% load staticfiles %}

block container
  .row
    .col-md-8
      h3 You are not in a group now
      br
      h4 If you have an invitation code
      form.form-inline(style='margin: 20px 30px;')
        input.form-control(placeholder='input invitation code here', style='width: 300px;')
        button.btn.btn-info
          | Join&nbsp;
          i.fa.fa-check
      h4 Or you can
      ul(style='margin: 20px 10px; font-size: 16px;')
        li(style='margin: 10px 0px;'): a(href='#') Create a group
        li: a(href='{% url "ranking" %}') Apply for a group
