doctype html
{% load staticfiles %}

html(lang='en')
  head
    title Haloes
    link(rel='stylesheet', href='{% static "assets/keyboard/keyboard.css" %}')

  body
    img.logo(src='{% static "img/logo-text.png" %}')
    .wrapper: ul
      for wtf in wtfs
        li
          .text
          .finger
    .login-form
      h1 Sign In
      input(placeholder='Email / Username')
      input(placeholder='Password', type='password')
      button Sign in
    .reg-form
      h1 Sign Up
      input(placeholder='Email')
      input(placeholder='Username')
      input(placeholder='Password', type='password')
      button Sign up
    script(src='{% static "assets/bootflat/js/jquery-1.10.1.min.js" %}')
    script(src='{% static "assets/keyboard/keyboard.js" %}')
