{% load staticfiles %}
doctype html
html(lang="en")
  head
    block head
      title Haloes
      link(rel="stylesheet" href="{% static 'assets/bootflat/css/site.min.css' %}")
      link(rel="stylesheet" href="{% static 'assets/bootflat/fonts/fonts.googleapis.com.css' %}")
      link(rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}")

  body(style="background-color: #f1f2f6;")

    nav.navbar.navbar-default.navbar-custom(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="#"): img(src="{% static 'img/logox.png' %}", height="40")
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li: a.nav-link(href="#") Challenge
            li: a.nav-link(href="#") Contest
            li: a.nav-link(href="#") WriteUp
            li: a.nav-link(href="#") Team
            li: a.nav-link(href="#") Rank

          form.navbar-form.navbar-left(role="search" style="margin-left: 20px;")
            .form-search.search-only
              i.search-icon.fa.fa-search
              input.form-control.search-query(type="text")

          ul.nav.navbar-nav.navbar-right
            if username
              li: a.nav-link(href="#" style="font-size: 16px;")
                b= username
                span.badge.badge-danger(style="margin-left: 6px; vertical-align: top;") 1
              li: a.nav-link(href="#") Sign out
            else
              li: a.nav-link(href="#") Sign up
              li: a.nav-link(href="#") Sign in

    .container(style="padding-top: 80px;")
      .row
        .col-md-12
            .btn-group
              button.btn.btn-info.dropdown-toggle(type="button" data-toggle="dropdown")
                | test&nbsp;
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") #{haha}

    .footer(style="padding: 20px 0px;")
      .container
        .footer-copyright.pull-left
          | Powered by DAWN Team @ Wuhan University.
        .footer-copyright.pull-right
          | Feel Free to Folk <a href="https://github.com/jne0915/Haloes">Haloes <i class="fa fa-github fa-lg"></i></a>
        br
        .footer-copyright.pull-left
          | Source Lisenced under <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public Lisence v3</a>.
        .footer-copyright.pull-right
          | <a href=mailto:jne0915@gmail.com>Bugs Report</a> and <a href="https://github.com/jne0915/Haloes/issues">Issues</a> are Welcomed.

    block script
      script(src="{% static 'assets/bootflat/js/jquery-1.10.1.min.js' %}")
      script(src="{% static 'assets/bootflat/js/site.min.js' %}")
      script.
        $(document).ready(function() {
            var docHeight = $(window).height();
            var footerTop = $('.footer').position().top + $('.footer').height() + 40;
            if (footerTop < docHeight) {
                $('.footer').css('margin-top', (docHeight - footerTop) + 'px');
            }
        });
