{% load staticfiles %}
doctype html
html(lang="en")
  head
    block head
      title TEST
      link(rel="stylesheet" href="{% static 'bootflat/css/site.min.css' %}")
      link(rel="stylesheet" href="{% static 'bootflat/fonts/fonts.googleapis.com.css' %}")
      link(rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}")

  body(style="background-color: #f1f2f6;")

    nav.navbar.navbar-default.navbar-custom(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="#"): img(src="{% static 'img/logo.png' %}", height="40")
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li: a.nav-link(href="#") Challenge
            li: a.nav-link(href="#") Contest
            li: a.nav-link(href="#") WriteUp
            li: a.nav-link(href="#") Team
            li: a.nav-link(href="#") Rank
          ul.nav.navbar-nav.navbar-right
            if username
              li: a.nav-link(href="#")= username
              li: a.nav-link(href="#") Sign out
            else
              li: a.nav-link(href="#") Sign up
              li: a.nav-link(href="#") Sign in

    .container(style="padding-top: 80px")
      .row
        .col-md-12
            .btn-group
              button.btn.btn-info.dropdown-toggle(type="button" data-toggle="dropdown")
                | test&nbsp;
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") #{haha}

    .footer(style="margin-top: 1000px; padding: 20px 0;")
      .container
        .footer-copyright.pull-left
          | Powered by DAWN Team @ Wuhan University.
        .footer-copyright.pull-right
          | Feel Free to Folk the Haloes <a href="https://github.com/jne0915/Haloes"><i class="fa fa-github fa-lg"></i></a>
        br
        .footer-copyright.pull-left
          | Source Lisenced under <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU Public Lisence v3</a>.
        .footer-copyright.pull-right
          | <a href=mailto:jne0915@gmail.com>Bugs Report</a> and <a href="https://github.com/jne0915/Haloes/issues">Issues</a> are Welcomed.

    block script
      script(src="{% static 'bootflat/js/jquery-1.10.1.min.js' %}")
      script(src="{% static 'bootflat/js/site.min.js' %}")
